<section class="container centered">
  <div class="about vcard h-card">
    {{ partialCached "home/avatar.html" . }}

    {{ partialCached "home/author.html" . }}

    {{ partialCached "home/social.html" . }}
  </div>

  {{ partialCached "home/extensions.html" . }}
</section>

</div>
<div class="content">

<section class="container list">
  <h3 class="centered">Most popular posts</h3>
  <ul>
    {{ range .Site.AllPages }}
      {{ if .Params.featured }}
	    <li>
	      <span class="date">{{ .Date.Format (.Site.Params.dateFormat | default "January 2, 2006" ) }}</span>
	      <a class="title" href="{{ .Params.ExternalLink | default .RelPermalink }}">{{ .Title }}</a>
	    </li>
	    {{ end }}
    {{ end }}
  </ul>
</section>

