<h1 class="fn">{{ .Site.Params.author }}</h1>
{{ if reflect.IsSlice .Site.Params.info }}
<h2>{{ range .Site.Params.info }}{{ . | markdownify }}<br>{{ end}}</h2>
{{ else }}
<h2>{{ .Site.Params.info | markdownify }} </h2>
{{ end }}
<a href="{{ .Permalink }}" rel="me" class="u-url u-uid"></a>
{{ if .Site.Params.relme }}
<link rel="me" href="{{ .Site.Params.relme }}" />
{{ end }}
<link rel="authorization_endpoint" href="https://indieauth.com/auth">
